<%= render 'shared/header' %>
<%= render 'shared/back'%>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%# <%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>

  <div class="form-main">
    <div class="form-edit">
      <h3>
        新規会員情報入力
      </h3>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="form-2">
        <label class="user-imageupload", id="user_images" >
        <span>プロフィールイメージ画像をアップロード</span>
        <%= f.file_field :image, class: "user-file-field", id: "user_images" %>
        </label>
      </div>
      <div id="user-image", class="user-image"></div>

      <div class="form-1">
        <%= f.label :ニックネーム %><br />
        <%= f.text_field :nickname, placeholder:"10文字以内", class: "form-text" %>
      </div>

      <div class="form-1">
        <%= f.label :名前（漢字フルネーム） %><br />
        <%= f.text_field :name_kanji, placeholder:"例) 種市　太郎", class: "form-text" %>
      </div>

      <div class="form-1">
        <%= f.label :名前（カナ） %><br />
        <%= f.text_field :name_kana, placeholder:"例) タネイチ　タロウ", class: "form-text" %>
      </div>

      <div class="form-1">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"PC・携帯どちらでも可", class: "form-text" %>
      </div>

      <div class="form-1">
        <%= f.label :パスワード %><br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder:"8文字以上の半角英数字", class: "form-text" %>
        
      </div>

      <div class="form-1">
        <%= f.label :パスワード（確認のためもう一度） %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"同じパスワードを入力", class: "form-text" %>
      </div>

      <div class="form-1">
        <%= f.submit "登録する", class: "new-user-submit" %>
      </div>
    </div>
  </div>
<% end %>

<%= render 'shared/footer' %>
