<div class="title-ex-box-index ">
  <div class="title-ex-index ">
    <h3>Uni＊Channの使い方</h3>
  </div>
  <div class="howto-index ">
    <div class="howto-post-index ">
      <div class="howto-title-index ">
        <h4>見つける</h4>
      </div>
      <div class="howto-img-index ">
        <%= image_tag '/assets/images/虫眼鏡のアイコン (1).png' , size: '100x100' %>
      </div>
      <div class="howto-content-index ">
      
        <p>お好みのイベントを見つけたらイベントをクリック。
        気に入ったら<b>「Join!」</b>から参加登録しましょう！
        参加済みのイベントにはアイコン(<%= image_tag 'humangray.png', class: "event-join-mark-mini"%>)が表示されますのでひと目で確認できます！
        イベントについて不明点があればコメント機能を活用して質問してみるのも良いでしょう。
        

        </p>
        
      </div>
    </div>

    <div class="howto-post-index ">
      <div class="howto-title-index ">
        <h4>投稿する</h4>
      </div>
      <div class="howto-img-index ">
        <%= image_tag 'えんぴつ付きのノートアイコン.png' , size: '100x100' %>
      </div>
      <div class="howto-content-index ">
        <p>
        イベントを投稿してみましょう。<b>「New!」</b>からあなたがホストの新しいイベントの作成が可能です。
        ホストは参加者一覧を表示することができます。
        あなたがホストの場合はイベントにアイコン(<%= image_tag '丸枠の中に王冠を配置したアイコン素材.png', class: 'event-owners-mark-mini'%>)が表示されます！
        必要であればcsvファイルにも出力(PC版ブラウザ)できるのでリスト管理が楽々です。
        
        </p>
      </div>
    </div>

    <div class="howto-post-index ">
      <div class="howto-title-index ">
        <h4>体験する</h4>
      </div>
      <div class="howto-img-index ">
        <%= image_tag 'チアリーダーのピクトグラム.png' , size: '100x100' %>
      </div>
      <div class="howto-content-index ">
        <p>
        登録したイベントを存分に楽しみましょう。
        イベントのコメント欄に感想をつぶやいても良いかもしれません。
        「いいね！」(<%= image_tag 'ハートのアイコン素材 1.png', class: "event-index-like-image3-mini"%>)をつけたり、お使いのSNSサービスにどんどん共有してイベントを盛り上げあなたの地域の活動を世界中に見てもらいましょう！
        </p>
      </div>
    </div>
  </div>
</div>