<div class="about_me_all">
  <div class="left_contents">
    <div class="me_title">
      <div class="me_font">
        <h1>About Me</h1>
      </div>
    </div>
    <div class="me_overview">
      <div class="me_overview_main">
        <ul class="me_overview_list">
          <li>Apple Japan合同会社でテクニカルサポートスペシャリストを経験。ソフトウェアの知識、エンドユーザーや社内エンジニアとのコミュニケーションから得た体験を元に自らの手でサービスを構築、運用できるwebエンジニアを志し転職活動開始。</li>
          <br>
          <li>サービスの設計、実装、運用、マネジメントを経験しwebの力で課題を解決したい。生業とすることを目標。</li>
        </ul>
          <p>◆長所◆　探究心/好奇心/粘り強さ</p>
          <p>◆短所◆　深く思考しすぎて灯台下暗し状態な時がある</p>
          <p>◆趣味◆　写真/つくること全般/ドリップコーヒー（豆の焙煎から）</p>
      </div>
    </div>
    <div class="me_link">
      <div class="me_link_main">
        <div class="me_link_middle">
          <ul class="link_list">
            <li>
              <div class="me_link_child">
                <div>
                  <%= image_tag('uni.png', class: "link_image")%>
                </div>
                <div class="link_url">
                  <p><a href="https://www.unichann.com/">https://www.unichann.com/</a></p>
                </div>
              </div>
            </li>
            </li>
              <div class="me_link_child">
                <div>
                  <%= image_tag('twitter_noback.png', class: "link_image")%>
                </div>
                <div class="link_url">
                  <p><a href="https://twitter.com/engineer_peeta">https://twitter.com/engineer_peeta</a></p>
                </div>
              </div>
            </li>
            <li>
              <div class="me_link_child">
                <div>
                  <%= image_tag('GitHub-Mark-120px-plus.png', class: "link_image")%>
                </div>
                <div class="link_url">
                  <p><a href="https://github.com/KeitaSasaki505">https://github.com/KeitaSasaki505</a></p>
                </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="me_signature">
      <div class="me_signature_place">
        <%= image_tag('signature.png', class: 'me_signature_size') %>
      </div>
    </div>
  </div>

  <div class="right_contents" style="background_image:url(<%= asset_path "DSC00089.jpg" %>)">
  </div>
</div>


