<h2>イベントの編集</h2>

<%# <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= form_with model: @event, class: 'registration-main', local: true do |f| %>

  <h3 class='form-header-text'>
    イベントを編集する
  </h3>
  <div class="field">
    <%= f.label :イベントイメージ画像 %><br />
    <%= f.file_field :image %><p>※クリックしてファイルをアップロード</p>
  </div>

  <div class="field">
    <%= f.label :イベントの種類 %><br />
    <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select-box", id:"item-sales-status"}) %>
  </div>

  <div class="field">
    <%= f.label :イベント名 %><br />
    <%= f.text_area :project %>
  </div>

  <div class="field">
    <%= f.label :イベント概要 %><br />
    <%= f.text_area :overview %>
  </div>

  <div class="field">
    <%= f.label :開催予定日時 %><br />
    <%= f.date_field :date %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス（連絡先） %><br />
    <%= f.text_area :email, placeholder:"参加者との連絡が可能なアドレス" %>
  </div>

  <div class="field">
    <%= f.label :電話番号 %><br />
    <%= f.telephone_field :phone, placeholder:"例）090-1111-1111" %>
  </div>

  <div class="field">
    <%= f.label :開催場所（住所） %><br />
    <%= f.text_area :address, placeholder:"例)東京都港区六本木1-1-1"%>
  </div>

  <%= f.submit "イベントを投稿する" ,class:"" %>
<% end %>