<%= render 'shared/header' %>
<%= render 'shared/searchbar'%>

  <div class="event-p">
    <div class="event-list">
      <% @results.each do |event| %>
        <li class='list'>
          <%= link_to event_path(event.id) do %>
            <div class="event-img-join">
              <div class='event-img-content'>
                <%= image_tag(event.images[0].variant(resize: '300x300'), class: "event-img-index")  if event.images.attached?%>
              </div>
            <% if user_signed_in? && current_user.id == event.user.id %>
              <%= image_tag '丸枠の中に王冠を配置したアイコン素材.png', class: "event-owners-mark" %>
            <% elsif user_signed_in? && current_user.id &&  (event.joins.find_by(user_id: current_user.id)) != nil %>
              <%= image_tag 'humangray.png', class: "event-join-mark" %>
            <% end %>
            </div>
            <div class='event-info'>
              <h3 class='event-name'>
                <%= event.project %>
              </h3>
              <div class="event-ex">
                <%= event.overview %>
              </div>
              <div class='event-date'>
                <span>開催予定日：<%= event.date %></span>
              </div>
              <div class="event-index-like-box">
              <div>
                <%= image_tag 'ハートのアイコン素材 1.png', class: "event-index-like-image" %>
                <%= event.likes.count%>
              </div>
              <div>
                <%= image_tag '双眼鏡アイコン4.png', class: "event-index-like-image" %>
                <%= number_with_delimiter(@page_views) %>
              </div>
            </div>
            </div>
          <% end %>
        </li>
      <% end %>
    </div>
  </div>

    <div class='event-btn'>
      <span class='event-btn-text'>New!</span>
      <a href="/events/new">
        <%= image_tag '万年筆の無料アイコン素材.png' , size: '185x50' ,class: "event-btn-icon" %>
      </a>
    </div>
