<h2>イベント参加者一覧</h2>

<p>※csvファイル出力できます。</p>
<%= link_to "ファイルに出力する", event_joins_path(format: :csv), class: "btn-square" %>

<table class="detail-table" border="1">
<tr>
  <th class="detail-item">名前</th>
  <th class="detail-item">カナ</th>
  <th class="detail-item">メールアドレス</th>
  <th class="detail-item">電話番号</th>
  <th class="detail-item">コメント</th>
</tr>
  <% @joins.each do |participants|%>
    <tbody>
      <tr>
        <td class="detail-value"><%= participants.name_kanji %></td>
        <td class="detail-value"><%= participants.name_kana %></td>
        <td class="detail-value"><%= participants.email %></td>
        <td class="detail-value"><%= participants.phone %></td>
      　<td class="detail-value"><%= participants.message %></td>
      </tr>
    </tbody>
  <% end %>
</table>