<%= render 'shared/header' %>
<%= render 'shared/back'%>

<%# <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= form_with model: @join, url: event_joins_path, class: 'registration-main', local: true do |f| %>
  
  <div class="form-main">
    <div lass="form-edit">
      <h3 class='form-header-text'>
        参加フォーム入力
      </h3>

      <div class="form-1">
        <%= f.label :氏名, class: 'form-item' %><br />
        <%= f.text_field :name_kanji, placeholder:"名前(漢字フルネーム)", class: "form-text" %>
      </div>

      <div class="form-1">
        <%= f.label :カナ入力, class: 'form-item' %><br />
        <%= f.text_field :name_kana, placeholder:"フリガナ", class: "form-text" %>
      </div>

      <div class="form-1">
        <%= f.label :メールアドレス, class: 'form-item' %><br />
        <%= f.text_field :email, class: "form-text" %>
      </div>
      
      <div class="form-1">
        <%= f.label :電話番号, class: 'form-item' %><br />
        <%= f.text_field :phone, class: "form-text" %>
      </div>

      <div class="form-1">
        <%= f.label :コメント, class: 'form-item' %><br />
        <%= f.text_area :message, rows: 3, placeholder:"(空欄でも可：何か要望がございましたらご記入ください)", class: "form-text" %>
      </div>

      <div class="form-1">
        <%= f.submit "参加する", class:"submit-btn" %>
      </div>
    </div>
  </div>
<% end %>

<%= render 'shared/footer' %>

