<%= render 'shared/header' %>
<%= render 'shared/back'%>

<%# <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= form_with model: @join, url: event_joins_path, class: 'registration-main', local: true do |f| %>
  
  <div class="form-main">
    <div class="form-edit">
      <h3>
        参加フォーム入力
      </h3>
      <%= render 'shared/error_messages', model: f.object %>
      <div class="form-1">
        <%= f.label :氏名（全角） %><br />
        <%= f.text_field :name_kanji, placeholder:"例）種市太郎", class: "form-text", id: "user_name" %>
      </div>

      <div class="form-1">
        <%= f.label :氏名（カナ） %><br />
        <%= f.text_field :name_kana, placeholder:"例）タネイチタロウ", class: "form-text", id: "user_name_kana" %>
      </div>

      <div class="form-1">
        <%= f.label :メールアドレス %><br />
        <%= f.text_field :email, class: "form-text" %>
      </div>
      
      <div class="form-1">
        <%= f.label :電話番号 %><br />
        <%= f.text_field :phone, placeholder: "例）09011111111", class: "form-text" %>
      </div>

      <div class="form-1">
        <%= f.label :コメント %><br />
        <%= f.text_area :message, rows: 3, placeholder:"(ご意見、ご要望：400文字以内)", class: "form-text" %>
      </div>

      <div class="form-edit-btn">
        <%= f.submit "参加する", class:"form-submit" %>
      </div>
    </div>
  </div>
<% end %>

<%= render 'shared/footer' %>

<script type="text/javascript">
    $(document).ready(
        function() {               
            $.fn.autoKana('#user_name', '#user_name_kana', {
                katakana : true  //true：カタカナ、false：ひらがな（デフォルト）
        });
    });
</script>